/*
HACK:
  Hide h1 so that the document can use a different
  title in the toctree (e.g., Exercise, Answer Key)
*/
.rst-content .section h1 {
  margin: 0;
  padding: 0;
  display: none;
}

.rst-content .section .header1 {
  font-size: 200%;
  line-height: 1.5;
  margin: 0 0 1em 0;
  padding: 0;
}

.rst-content .section h2 {
  margin-top: 2.5em;
}

.rst-content .section h3 {
  margin-top: 2em;
}

.rst-content .underline {
  text-decoration: underline;
}

/*
HACK:
  Workaround for nested styles in reStructuredText
*/
.rst-content .underline-italics {
  font-style: italic;
  text-decoration: underline;
}

.rst-content .emphasis {
  font-weight: 700;
  text-decoration: underline;
}

.rst-content .yellow-highlight {
  font-weight: 700;
  background-color: yellow;
}

.rst-content .admonition.tip,
.rst-content .admonition.note,
.rst-content .admonition-warning,
.rst-content .admonition-question,
.rst-content .admonition-answer {
  margin: 3em 0;
}

.rst-content .admonition-question .admonition-answer {
  margin-top: 0.5em;
}

.rst-content li {
  margin-bottom: 1.0em;
}

.rst-content ul li ul {
  margin-top: 0.5em;
}


.rst-content div.figure {
  margin-bottom: 4em;
  margin-top: 2em;
}

.rst-content .admonition-question {
  background: #f6e8c3;
  padding: 12px;
  line-height: 24px;
}

.rst-content .admonition-question .admonition-title {
  background: #8c510a;
}

.rst-content .admonition-question .admonition-title::before {
  content: "\f059";
}

.rst-content .admonition-question p:last-child,
.rst-content .admonition-answer p:last-child,
.rst-content .admonition-question ul,
.rst-content .admonition-answer ul {
  margin-bottom: 0;
}

.rst-content .admonition-answer {
  background: #e5f5e0;
  padding: 12px;
  line-height: 24px;
  margin-bottom: 6em;
}

.rst-content .admonition-answer .admonition-title {
  background: #006d2c;
}

.rst-content .admonition-answer .admonition-title::before {
  content: "\f044";
}

.rst-content .tip .admonition-title::before {
  content: "\f0d0";
}

/**
 * Toggle visibility of a section
 */
.rst-content .admonition-answer .admonition-title:after,
.rst-content .admonition-answer .admonition-title.expanded:after {
  font-family: "FontAwesome";
  margin-left: 0.3em;
  cursor: pointer;
}

.rst-content .admonition-answer .admonition-title:after {
  content: "\f13a";
}

.rst-content .admonition-answer .admonition-title.expanded:after {
  content: "\f139";
}

.rst-content dl dd,
.rst-content .section ol > li {
  margin-bottom: 2.5em;
}

.rst-content .section ol.compact-list > li {
  margin-bottom: 0.5em;
}

.rst-content div.figure p.caption {
  font-style: normal;
  font-size: 0.85em;
  line-height: 1.4em;
  margin-top: 0.5em;
}

.rst-content span.std-term:after,
.rst-content a.external:after,
.rst-content span.std-ref:after {
  font-family: "FontAwesome";
  margin-left: 0.2em;
  margin-right: 0.2em;
  font-size: 77%;
}

.rst-content span.std-term:after {
  content: "\f03a";
}

.rst-content a.external:after {
  content: "\f152";
}

.rst-content span.std-ref:after {
  content: "\f02e";
}